* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--white: #ffffff;
	--black: #000000;
	--shadow:#726b6b;
	--second-text: #5c5c5c;
	--primary-pink: #E9A6BF;
	--medium-pink: #F49CBF;
	--dark-pink: #EA88AC;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

body, input, textarea, button {
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none
}